<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleDevelopmentRegion</key>
        <string>en</string>
        <key>CFBundleExecutable</key>
        <string>{NAME}</string>
        <key>CFBundleIdentifier</key>
        <string>com.DTZxPorter.GameTools</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleName</key>
        <string>{NAME-UPPERCASE}</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleShortVersionString</key>
        <string>{VERSION}</string>
        <key>CFBundleSupportedPlatforms</key>
        <array>
            <string>MacOSX</string>
        </array>
        <key>CFBundleVersion</key>
        <string>1</string>
        <key>CFBundleIconFile</key>
        <string>{NAME}.icns</string>
        <key>NSHighResolutionCapable</key>
        <true />
        <key>NSMainNibFile</key>
        <string />
        <key>NSSupportsAutomaticGraphicsSwitching</key>
        <true />
        <key>CFBundleDisplayName</key>
        <string>{DESCRIPTION}</string>
        <key>NSRequiresAquaSystemAppearance</key>
        <string>NO</string>
    </dict>
</plist>